@font-face {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Inter-VariableFont.ttf") format("truetype");
}
@font-face {
  font-family: "Orbitron";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
}